<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClientDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SecureSocket-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SecureSocket-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SecureSocket-TVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SecureSocket-WATCHOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ServerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C3D8FA21EE55ED2003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3D8FB21EE55EE6003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3D8FBF1EE55EF2003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3D8FCC1EE55EFD003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3D90031EE561C8003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3D90161EE561D2003C83ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
